.featuredParent {
    display: flex;

    padding: 0.5em 0em 0.5em 0em;

}
.featuredGame {
    width: 50%;
    border: 2px solid gold;
    position: relative;
}
.overlay {
    border: 2px solid white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.overlay button {
    position: absolute;
    right: 0.5em;
    bottom: 33%;
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    justify-content: space-evenly;
    border: 2px solid salmon;

}
.imageGrid img {
    padding: 0;
    margin: 0;
    height: 5em;
    width: 49%;
    border: 2px solid green;
}