.featuredParent {
    display: flex;

    padding: 0.5em 0em 0.5em 0em;

}
.featuredGame {
    width: 50%;
    border: 2px solid gold;
    position: relative;
}
.imageGrid {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    justify-content: space-evenly;
    border: 2px solid salmon;

}
.imageGrid img {
    padding: 0;
    margin: 0;
    height: 5em;
    width: 49%;
    border: 2px solid green;
}