.specialOfferParent {
    display: flex;
    width: 90%;
    margin: 1rem 0;
    height: 480px;
}
.game {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0.5rem;
    overflow: hidden;
}
.gameSmall {
    position: relative;
    width: 100%;
    height: 50%;
}
.tileOverlay {
    border: 2px solid white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.tileOverlay article {
    float: right;
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.tileOverlay button {
    position: absolute;
    right: 0.5em;
    bottom: 33%;
}
.overlaySale {
    background: linear-gradient(0deg, rgba(0,0,0,.80) 60%, rgba(29,253,43,0.30) 90%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2em 0.5em 0.5em 0.5em;
}
.overlaySale h4, .overlaySale p {
    color: white;
    font-weight: bold;
    font-size: 10pt;
}
.overlaySale article {
    float: right;
    position: absolute;
    bottom: 1rem;;
    right: 1rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}