@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #B191FF;
    --secondary-color: #FF4081;
    --background-color: #1c1c1c;
}

html {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: content-box;
    position: absolute;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.overlay {
    background-color: #00000099;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: -1;
    border: none;
    position: fixed;
}

.p-primary {
    padding: 3rem 0 3rem 3rem;

}

.mainPage {
    display: Flex;
    margin-bottom: 1em;
 }


 .nav-background {
    background-color: var(--background-color);
 }

 /* Features Component */

.h-featured {
    height: 480px;
}

/* Categories Component */
.categoryParent {
    color: lightgray;
}
ul{
    padding: 0.5em 0 0.5em 0;
}
ul h4 {
    font-weight: bold;
}
li {
    margin-left: 1em;
    width: fit-content;
    color: var(--primary-color);
}
li:hover {
    color: var(--secondary-color);
}