.categoryParent {
    color: lightgray;
    background-color: var(--backgroundColor);
}
.listParent {
    padding: 0.5em 0 0.5em 0;
}
.listParent h4 {
    font-weight: bold;
}
li {
    width: fit-content;
    color: var(--primaryColor);

}
li:hover {
    color: var(--secondaryColor);
}